* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #02012b;
  --dark-grey: #25253f;
  --light-grey: #2f2f49;
  --outline-grey: #3b3b55;
  --subtext-white: #d9e0ff;
  --almost-white: #9495aa;
  --white: #ffffff;
  --blue-sky: #4657d9;
}

body {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 20px;
  height: 80px;
}

header > img {
  width: 250px;
  margin-left: 20px;
}

.units-container {
  position: relative;
}

#units-btn {
  background-color: var(--dark-grey);
  width: 130px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
  cursor: pointer;
  color: var(--white);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  margin-right: 20px;
}

#units-btn.active {
  border: var(--white);
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
}

#settings {
  display: none;
  top: 60px;
  right: 20px;
  position: absolute;
  width: 200px;
  background-color: var(--dark-grey);
  font-family: "DM Sans", sans-serif;
  color: var(--white);
  outline: var(--outline-grey) solid thin;
  border-radius: 10px;
  z-index: 9999;
}

.setting {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

hr {
  border: none;
  border: solid thin var(--light-grey);
  margin: 10px;
}

.setting > p {
  color: var(--almost-white);
  font-weight: 400;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: large;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.options > p {
  margin: 5px 2px;
  font-size: larger;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-bottom: 20px;
}

.title {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: var(--white);
}

.search-engine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60px;
  margin: 30px;
  color: white;
}

.search {
  display: flex;
  background-color: var(--dark-grey);
  align-items: center;
  position: relative;
  width: 70%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  margin-right: 20px;
}

.search > input {
  background-color: var(--dark-grey);
  outline: none;
  border: none;
  margin-left: 20px;
  font-family: "DM Sans", sans-serif;
  color: var(--white);
  font-weight: 500;
  font-size: larger;
  width: 80%;
}

.search > input::placeholder {
  color: var(--white);
}

.suggestions-container {
  display: none;
  position: absolute;
  top: 55px;
  left: 0px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--dark-grey);
}

#actual-suggestions {
  margin: 5px 0px;
  list-style: none;
  max-height: 110px;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

li {
  display: flex;
  background-color: var(--outline-grey);
  margin: 6px 10px;
  height: 35px;
  font-family: "DM Sans", sans-serif;
  font-size: large;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
  cursor: pointer;
}

li:hover {
  background-color: var(--almost-white);
}

.active {
  background-color: var(--almost-white);
}

#search-btn {
  width: 100px;
  height: 50px;
  background-color: var(--blue-sky);
  font-family: "DM Sans", sans-serif;
  color: var(--white);
  font-weight: 500;
  font-size: larger;
  border-radius: 10px;
  border: none; /*nu ramane asa */
  cursor: pointer;
}

.no-results {
  display: none;
  width: 100%;
  text-align: center;
  color: var(--white);
  font-family: "DM Sans", sans-serif;
  font-size: larger;
  font-weight: 600;
  margin: 10px;
}

.api-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 750px;
}

.section1 {
  display: flex;
  flex-direction: column;
  color: var(--white);
  margin: 0px 10px 0px 20px;
  width: 65%;
  height: 745px;
}

.current-weather {
  background-image: url("./icons/bg-today-large.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 330px;
  margin-bottom: 20px;
  font-family: "DM Sans", sans-serif;
}

.left-side {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
}

.left-side > p {
  margin: 5px 20px;
}

#current-location {
  font-weight: 600;
  font-size: 40px;
}

#current-date {
  font-size: large;
  color: var(--subtext-white);
}

.right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-side > img {
  height: 110px;
  width: auto;
}

.right-side > p {
  margin: 0px 40px;
  font-size: 100px;
  font-weight: 500;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  margin-bottom: 25px;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  background-color: var(--dark-grey);
  outline: var(--outline-grey) solid thin;
  width: 180px;
  padding: 10px;
  border-radius: 15px;
  font-family: "DM Sans", sans-serif;
}

.detail > p {
  margin-left: 10px;
  margin-right: 10px;
}

.text1 {
  margin-top: 10px;
  color: var(--subtext-white);
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
}

.text2 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 400;
}

.daily-forecast {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
  justify-content: space-between;
  height: 220px;
  border-radius: 15px;
}

.daily-forecast > p {
  font-family: "DM Sans", sans-serif;
  font-size: x-large;
  font-weight: 500;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-grey);
  width: 110px;
  height: 170px;
  border-radius: 15px;
  outline: solid thin var(--outline-grey);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  padding: 0px;
}

.day > p {
  margin-top: 15px;
  font-size: 20px;
}

.day > img {
  width: auto;
  height: 70px;
  margin-bottom: 5px;
}

.interval {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.highest-temp {
  margin-right: 20px;
  font-weight: 500;
}

.section2 {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
  margin: 0px 20px 0px 10px;
  width: 32%;
  height: 705px;
  padding: 20px;
  border-radius: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: x-large;
  color: var(--white);
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.header-section > p {
  font-size: x-large;
  font-weight: 500;
}

#forecast-options {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 120px;
  padding: 10px;
  background-color: var(--light-grey);
  color: var(--white);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: medium;

  background-image: url("data:image/svg+xml;utf8,<svg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path d='M31.3 192h257.4c28.4 0 42.7 34.5 22.6 54.6L182.6 375.4c-12.5 12.5-32.8 12.5-45.3 0L8.7 246.6C-11.4 226.5 2.9 192 31.3 192z'/></svg>");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center right 12px;
}

#forecast-options:focus {
  outline: none;
}

#forecast-options > option:hover {
  background: var(--dark-blue);
}

#forecast-options > option {
  padding-right: 10px;
}

.hours {
  display: flex;
  flex-direction: column;
  height: 620px;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.hour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-grey);
  border-radius: 10px;
  margin: 10px 1px 10px;
  height: 70px;
  outline: var(--outline-grey) thin;
  outline-style: solid;
}

.left {
  display: flex;
  flex-direction: inherit;
  align-items: inherit;
}

.left > img {
  width: auto;
  height: 60px;
  margin: 5px;
}

#temp {
  margin: 20px;
  font-size: x-large;
}

@media (max-width: 1900px) {
  .search-engine {
    width: 65%;
  }

  .suggestions-container {
    outline: var(--outline-grey) solid thin;
  }

  .specific-detail {
    margin-right: 20px;
  }

  .specific-day {
    margin-right: 10px;
  }
}

@media (max-width: 1500px) {
  .search-engine {
    width: 63%;
  }

  #current-location {
    font-size: 30px;
  }

  .right-side > img {
    height: 100px;
    width: auto;
  }

  .right-side > p {
    margin: 0px 20px;
    font-size: 90px;
    font-weight: 500;
  }

  .text2 {
    font-size: 25px;
  }

  .day {
    width: 90px;
  }

  .day > img {
    width: auto;
    height: 60px;
  }

  .interval {
    font-size: medium;
  }

  .highest-temp {
    margin-right: 13px;
  }
}

@media (max-width: 770px) {
  header {
    width: 70%;
    margin: 20px;
    height: 50px;
  }

  header > img {
    width: 200px;
    margin-left: 0px;
  }

  #units-btn {
    width: 80px;
    height: 35px;
    font-size: medium;
    font-weight: 400;
    margin-right: 0px;
  }

  #units-btn > i {
    font-size: small;
  }

  #settings {
    width: 150px;
    right: 0px;
  }

  .setting {
    margin: 10px;
  }

  .setting > p {
    font-weight: 200;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: medium;
  }

  .options {
    font-weight: 300;
  }

  .options > p {
    font-size: medium;
  }

  .title {
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--white);
  }

  .search-engine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;
    margin: 20px;
    color: white;
  }

  .search {
    width: 70%;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
  }

  .search > input {
    outline: none;
    border: none;
    margin-left: 10px;
    color: var(--white);
    font-weight: 500;
    font-size: medium;
    width: 80%;
  }

  .suggestions-container {
    top: 50px;
    left: 0px;
    background-color: var(--dark-grey);
  }

  li {
    height: 35px;
    font-size: small;
  }

  #search-btn {
    width: 80px;
    height: 40px;
    font-weight: 400;
    font-size: medium;
    border: none; /*nu ramane asa */
  }

  .no-results {
    font-size: medium;
    font-weight: 600;
    margin: 10px;
  }

  .api-container {
    flex-direction: column;
    justify-content: unset;
    height: auto;
  }

  .section1 {
    flex-direction: column;
    margin: 0px 0px 10px 0px;
    width: 100%;
  }

  .current-weather {
    height: 260px;
    margin-bottom: 20px;
  }

  .left-side > p {
    margin: 5px 10px;
  }

  #current-location {
    font-weight: 500;
    font-size: 28px;
  }

  #current-date {
    font-size: medium;
  }

  .right-side > img {
    height: 80px;
    width: auto;
  }

  .right-side > p {
    margin: 0px 10px;
    font-size: 70px;
    font-weight: 500;
  }

  .details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 150px;
    margin-bottom: 5px;
  }

  .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 40%;
    padding: 10px;
  }

  .detail > p {
    margin-right: 0px;
  }

  .specific-detail {
    margin-right: 0px;
  }

  .text1 {
    margin: 10px 0px 0px 0px;
    font-size: 15px;
    font-weight: 300;
  }

  .text2 {
    margin: 6px 0px;
    font-size: 20px;
    font-weight: 400;
  }

  .daily-forecast {
    height: 330px;
    justify-content: unset;
  }

  .days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .day {
    width: 20%;
    height: 130px;
    margin-top: 10px;
    font-weight: 400;
  }

  .day > p {
    font-size: 15px;
  }

  .day > img {
    width: auto;
    height: 50px;
  }

  .interval {
    font-size: 15px;
  }

  .section2 {
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: auto;
    padding: 0px;
  }

  .header-section {
    margin: 20px;
  }

  .header-section > p {
    font-weight: 500;
  }

  .hours {
    height: 400px;
    margin: 0px 20px 20px 20px;
  }

  .hour {
    height: 60px;
  }

  .left > img {
    width: auto;
    height: 50px;
  }
}

@media (max-width: 655px) {
  .text2 > span {
    font-size: 15px;
  }
}

@media (max-width: 625px) {
  .text2 > span {
    font-size: 10px;
  }
}

@media (max-width: 431px) {
  header {
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
  }

  header > img {
    width: 150px;
    margin-left: 20px;
  }

  #units-btn {
    height: 30px;
    font-size: small;
    margin-right: 20px;
    border-radius: 5px;
  }

  #units-btn > i {
    font-size: smaller;
  }

  #settings {
    width: 140px;
    right: 20px;
    top: 40px;
  }

  .setting {
    margin: 10px;
  }

  .setting > p {
    font-size: small;
  }

  .options > p {
    font-size: smaller;
  }

  .right-side > p {
    font-size: 20px;
  }

  .container {
    width: 100%;
  }

  .title {
    width: 80%;
    font-size: 50px;
    margin: 20px 0px;
  }

  .search-engine {
    flex-direction: column;
    width: 90%;
    height: unset;
    margin: 20px 0px;
  }

  .search {
    height: 45px;
    padding-left: 0px;
    margin: 0px 20px 10px;
    width: 100%;
  }

  .search > i {
    font-size: medium;
    margin-left: 25px;
  }

  .search > input {
    margin-left: 15px;
    font-size: medium;
    width: 80%;
  }

  .suggestions-container {
    top: 50px;
    left: 0px;
  }

  #actual-suggestions {
    max-height: 200px;
  }

  li {
    margin: 5px 10px;
    font-size: small;
  }

  #search-btn {
    width: 100%;
    height: 45px;
  }

  .current-weather {
    background-image: url("./icons/bg-today-small.png");
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
  }

  .left-side {
    margin-top: 10px;
    align-items: center;
  }

  #current-location {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }

  #current-date {
    font-size: medium;
  }

  .right-side > img {
    height: 80px;
    width: auto;
  }

  .right-side > p {
    margin: 0px 10px 0px 30px;
    font-size: 80px;
    font-weight: 500;
  }

  .details {
    height: 300px;
    margin: 0px 20px 10px;
  }

  .detail {
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    margin-bottom: 10px;
  }

  .text1 {
    margin: 10px 0px 10px 0px;
  }

  .text2 {
    font-size: 25px;
  }

  .text2 > span {
    font-size: 25px;
  }

  .daily-forecast {
    height: auto;
    margin: 0px 20px 10px;
  }

  .daily-forecast > p {
    font-size: 20px;
  }

  .day {
    border-radius: 10px;
  }

  .interval {
    font-size: 11px;
  }

  .highest-temp {
    margin-right: 13px;
  }

  .section2 {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .header-section {
    margin: 20px 20px 15px;
  }

  .header-section > p {
    font-size: 20px;
  }

  .hour {
    height: 60px;
  }

  .left > img {
    width: auto;
    height: 45px;
  }

  .left > p {
    font-size: large;
  }

  #temp {
    font-size: large;
  }
}
